<div class="ui grid container">
    <div class="six wide column">
        <h3 class="ui dividing header">
            Edit Product
        </h3>
        <form class="ui form" (ngSubmit)="onSubmit()" #productForm="ngForm">
            <div class="field" [class.error]="name.invalid && name.touched">
                <label>Product Name</label>
                <input #name="ngModel" name="name" placeholder="Product Name" type="text" [(ngModel)]="product.name" required>
            </div>
            <div class="field" [class.error]="price.invalid && price.touched">
                <label>Price</label>
                <input #price="ngModel" name="price" placeholder="Price" type="text" [(ngModel)]="product.price" required>
            </div>
            <div class="field" [class.error]="image.invalid && image.touched">
                <label>Image</label>
                <input #image="ngModel" name="image" placeholder="Image" type="text" [(ngModel)]="product.image" required>
            </div>
            <div class="field" [class.error]="description.invalid && description.touched">
                <label>Description</label>
                <input #description="ngModel" name="description" placeholder="Description" type="text" [(ngModel)]="product.description"
                    required>
            </div>
            <div class="field" [class.error]="colors.invalid && colors.touched">
                <label>Colors</label>
                <input #colors="ngModel" name="colors" placeholder="Colors" type="text" [(ngModel)]="product.colors" required>
            </div>
            <button [disabled]="!productForm.form.valid" class="ui primary button" type="submit">Submit</button>
        </form>
    </div>
</div>