<div class="ui icon message" *ngIf="productQuantity === 0">
  <i class="shop icon"></i>
  <div class="content">
    <div class="header">
      Your cart is empty :(
    </div>
    <p>There are no products...</p>
  </div>
</div>

<table class="ui table" *ngIf="productQuantity > 0">
    <thead>
        <tr>
            <th class="nine wide">Product Name</th>
            <th class="three wide">Quantity</th>
            <th class="three wide">Price</th>
            <th class="one wide"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>
                <img class="ui middle aligned tiny image" [src]="product.image">
                <span>{{product.name}} {{product.selectedColor}}</span>
            </td>
            <td>{{product.quantity}}</td>
            <td>{{product.price | currency:'USD':true}}</td>
            <td><i class="remove icon" (click)="removeFromCart(product)"></i></td>
        </tr>
    </tbody>
</table>